@* @* @page "/workout"
@using FitnessJournal.Application.Dto
@*@inject IWorkoutService WorkoutService

@rendermode InteractiveWebAssembly

<PageTitle>Workout</PageTitle>

<h3>Workout</h3>




@*@code {
    private IEnumerable<WorkoutDto> workouts;

    protected override async Task OnInitializedAsync(){
        workouts = await WorkoutService.GetWorkoutAsync();
    }

}*@
 