@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button type="button" class="btn btn-sign-up">
    <NavLink class="nav-link" href="login">
        <span aria-hidden="true"></span> Login
    </NavLink>
</button>
