@page "/welcome"
<PageTitle>Welcome</PageTitle>

<h3>Welcome to Get Fit</h3>


<div class="container-fluid p-3 mb-2 bg-success-subtle text-success-emphasis">
    <img src="pex1.jpg" class="object-fit-fill border rounded card-img-top " alt="...">
    <div class="card-body">
        <h5 class="card-title">Get Fit, Get Going</h5>
        <p class="card-text">Get Healthy Body With The Perfect Exercises.</p>
        <a href="#" class="btn btn-primary">Get Started</a>
    </div>
</div>



@code {

}
